html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	background-color: lavender;
}

footer{
	padding: 20px;
	background-color: black;
	color: white;
}
header {
	background-color: black;
	color: white;
}
p{
	font-size: 21px;
	color: black;
}
h2{
	color: black;
}

.container-fluid{
	background-color: rgba(0, 0, 0, 0.9);
}
.work{
	background-color: black;
}
.everything{
	background-image: url("../images/newMetal.jpg");
	background-repeat: repeat repeat;
	font-family: "Century Gothic", "Times New Roman", monospace, sans-serif;
}

.navigation{
	text-align: right;
}
.pullright{
	float: right;
}