html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
.content-box{
	margin: 10px;
	padding: 10px;
	background-color: grey;
	border-radius: 6px;
}
footer{
	margin: 20px;
	padding: 20px;
	background-color: black;
	color:white;
}
header {
	background-color: black;
	color: white;
}
p{
font-size: 21px;
}
main{
	background-color: lightcyan;
}
.container-fluid{
	background-color: black;
}
